.card-main-container {
    width: 100%;
    height: calc(100vh - 85px);
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 13);

    .card-title {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

.dropdown-container {
    width: 100%;
    display: flex;
    height: 50px;
    background-color: white;
}

.dropdown-left {
    background-color: lightgray;
    width: 50%;
    display: flex;
    line-height: 0%;
    flex-direction: column;
}

.dropdown-right {
    background-color: gray;
    width: 50%;
    display: flex;
    line-height: 0%;
    flex-direction: column;
}