@use '../abstracts/variables.scss' as *;

.header-main-container {
  width: 100%;
  display: flex;
  height: 80px;
  border: 1px solid black;
}

.crossport-logo{
  height: 80px;
  margin: auto 0;
}

.connect-container{
}

.connect-button{
}